@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$backgroudcolor :#0d192b;
$ETH: #00fff8;
$Clockcolor:#8bacd9;

* {
  font-family: 'Outfit', sans-serif;
}

body {
  background: $backgroudcolor;
}

.container {
  background: #14253d;
  border: 1px solid none;
  border-radius: 10px;
  width: 326px;
  height: 546px;
  margin-top: 1em;

  .nftimage {
    width: 278px;
    height: 269px;
    left: 21px;
    top: 10px;
    border-radius: 10px;
    background-image: url("./images/image-equilibrium.jpg");
    background-size: cover;
    position: relative;
  }

  .stylehead {
    margin-top: 34px;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: white;
  }

  .infocontainer {
    padding: 0 1.4em;
    color: white;

    .infonft {
      font-weight: 400;
      font-size: 17px;
      line-height: 23px;
      color: $Clockcolor;
    }

    .nftnumbers {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .infonftnum {
        display: flex;
        color: $ETH;
        gap: 5px;
        font-weight: 400;
      }

      .infonftclock {
        display: flex;
        color: $Clockcolor;
        gap: 5px;
        font-weight: 400;
      }
    }

    .line {
      border: 1px solid white;
      background: white;
      margin-top: 20px;
    }

    .infoavatar {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: 1em;

      .styleavatar {
        width: 33px;
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 40%;
    top: 20%;
    width: 346px;
    height: 592px;
    margin-top: 0;

    .nftimage {
      left: 0%;
      top: 20px;
    }

    .infocontainer {
      color: white;
      margin: 7px;

      .nftnumbers {
        margin-top: 23px;
      }

      .infonft {
        font-size: 18px;
        line-height: 23px;
      }

      .infoavatar {
        margin-top: 21px;
        color: white;

        .stylecreation {
          color: $Clockcolor;
        }
      }
    }
  }
}

.stylehead:active {
  color: $ETH;
}

.stylenamenft:active {
  color: $ETH;
}

.nftimage:active {
  .backgroundeyebrow {
    background-color: rgb(0 200 244 / 30%);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    backdrop-filter: blur(10px);
    background-image: url('./images/icon-view.svg');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
  }
}
